.form-login {
  margin: 0 auto;
  border-radius: 5px;
  width: 400px;
  border: 1px solid grey;
  font-size: 16px;
  padding: 15px;
}

.form-control {
  position: relative;
}

.form-control input {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 15px;
  border-radius: 2px;
  font-size: 16px;
  border: 1px solid #eff2fb;
}

.form-control input:focus + label {
  display: block;
}

.form-control label {
  display: none;
  position: absolute;
  top: -10px;
  width: max-content;
  left: 10px;
  background-color: white;
  padding: 0 5px;
  color: blue;
}

.form-actions {
  padding-top: 15px;
  text-align: right;
}

.button-submit {
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 16px;
  color: #fff;
  background-color: blue;
  border: none;
}

button:hover {
  cursor: pointer;
}

