.body {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  width: 400px;
  height: 315px;
  margin: 0 auto;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);

}

.container input {
  width: 90%;
  height: 40px;
  margin: 12px 10px 0 10px;
  border-radius: 6px;
  border: 1px solid #dddfe2;;
}

.container input:not([type="button"]) {
  font-size: 17px;
}
.container input[type="button"]{
  background-color: #1877f2;
  height: 45px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.container a {
  text-decoration: none;
}

.line {
  display: block;
  border-top: 1px solid #dddfe2;
  margin: 20px;
}

.container button {
  background-color: #42b72a;
  height: 45px;
  border-radius: 6px;
  color:#fff;
  font-size: 17px;
  border: none;
  font-weight: bold;
  margin: 0 auto;
}