p {
  color: red;
  font-size: 1rem;
  letter-spacing: 16px;
  word-spacing: 20px;
  text-align: center;
  text-shadow: 5px 5px blue;
}

p:first-letter{
  /* font-size: 60px; */
}

.orange {
  color: green;
}

#apple {
  color: blue;
}

.active {
  font-weight: bold;
}

ul > li:nth-child(2) {
  color: yellow;
  font-weight: bold;
}

ul > li:first-child {
  color: red;
  font-style: italic;
}


ul > li:last-child {
  /* font-size: 25px; */
}

.active.highlight {
  background-color: yellow ;
}

li[class~="highlight"] {
  text-transform: uppercase;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 16px;
}

ul > li:not(:first-child) {
  border-right: 6px solid #000;
  
}

li {
  list-style-type: decimal;
}

img {
  width: 120px;
}

img {
  vertical-align: middle;
}

.google {
  text-decoration: none ;
  color: black;
}

a:visited {
  color: brown;
}

a:hover {
  color: blue;
}

a:focus {
  color: yellow;
  outline: none;
}
.box {
  height: 150px;
  max-width: 150px;
  width: 100%;
  /* display: inline-block; */
  float: left;
  margin: 0 auto;
  overflow: auto ;
}

.box-red {
  background-color: red;
  border:  2px dotted black;
}

.box-green {
  background-color: green;
  margin: 0 5px;
  border-radius: 50%;
}

.box-yellow {
  background-color: yellow;
  border-right: 3px solid blue;
}
